body {
	height: 100vh;
	width: 100vw;
}

header {
	font-size: xx-large;
	margin: 20px;
}
.Search {
	height: 50px;
	width: 100%;
	margin: auto;
}

.App {
	height: 100%;
	width: 100%;
}

.PageContent {
	display: flex;
	/* align-items: center; */
}

.Library {
	display: flex;
	align-content: space-between;
	width: 70%;
	height: 80%;
	flex-wrap: wrap;
	/* margin: auto; */
}

.Library .minimised {
	display: flex;
	/* align-content: space-between; */
	width: 50%;
	/* flex-wrap: wrap; */
}

.Book {
	border: 1px solid black;
	margin: 2px;
	width: 150px;
	cursor: pointer;
}

.Book img {
	height: 150px;
	max-width: 100px;
	margin-top: 5px;
}

.SelectedBook .open {
	width: 30%;
}

.SelectedBook img {
	height: 300px;
}

.SelectedBook {
	width: 0px;
	background-color: black;
}
